<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>-->
      <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="error"/>
  <logger name="org.apache" level="error"/>
  <logger name="org.thymeleaf" level="error"/>

  <logger name="com.mysql" level="info" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <logger name="redis.clients" level="info" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <logger name="org.dreamcat" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <logger name="org.springframework.data.cassandra.core.cql" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

</configuration>
