<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%magenta(%date) %highlight([%level]) %green(%thread) %cyan([%logger{10}:%line]) %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.dreamcat" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <logger name="org.springframework.data.cassandra.core" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

</configuration>
